#star-1:checked ~ section [for='star-1'] svg, #star-2:checked ~ section [for='star-1'] svg, #star-2:checked ~ section [for='star-2'] svg, #star-3:checked ~ section [for='star-1'] svg, #star-3:checked ~ section [for='star-2'] svg, #star-3:checked ~ section [for='star-3'] svg, #star-4:checked ~ section [for='star-1'] svg, #star-4:checked ~ section [for='star-2'] svg, #star-4:checked ~ section [for='star-3'] svg, #star-4:checked ~ section [for='star-4'] svg, #star-5:checked ~ section [for='star-1'] svg, #star-5:checked ~ section [for='star-2'] svg, #star-5:checked ~ section [for='star-3'] svg, #star-5:checked ~ section [for='star-4'] svg, #star-5:checked ~ section [for='star-5'] svg {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  #star-1:checked ~ section [for='star-1'] svg path, #star-2:checked ~ section [for='star-1'] svg path, #star-2:checked ~ section [for='star-2'] svg path, #star-3:checked ~ section [for='star-1'] svg path, #star-3:checked ~ section [for='star-2'] svg path, #star-3:checked ~ section [for='star-3'] svg path, #star-4:checked ~ section [for='star-1'] svg path, #star-4:checked ~ section [for='star-2'] svg path, #star-4:checked ~ section [for='star-3'] svg path, #star-4:checked ~ section [for='star-4'] svg path, #star-5:checked ~ section [for='star-1'] svg path, #star-5:checked ~ section [for='star-2'] svg path, #star-5:checked ~ section [for='star-3'] svg path, #star-5:checked ~ section [for='star-4'] svg path, #star-5:checked ~ section [for='star-5'] svg path {
    fill: #FFBB00;
    stroke: #cc9600;
  }

  input[name="stars"] {
    display: none;
  }
  
  section {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  
  label {
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
  }
  label svg {
    width: 100%;
    height: auto;
    fill: white;
    stroke: #CCC;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  label svg path {
    transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  }
  form {
    display: block;
  }
  form.hidden {
    display: none;
  }

  label[for="star-null"] {
    display: block;
    margin: 0 auto;
    color: #999;
  }
  
  body {
    text-align: center;
    background: #f0f0f0;
  }
  
  input {
    margin-top: 1rem;
  }
  .hidden {
    display: none;
  }

  .show {
    display: block;
  }