  form {
    display: block;
  }
  form.hidden {
    display: none;
  }

  label[for="star-null"] {
    display: block;
    margin: 0 auto;
    color: #999;
  }
  
  body {
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: rgba(255, 230, 0, 0.609);
  }
  
  input {
    margin-top: 1rem;
  }
  .hidden {
    display: none;
  }
 
  .show2 {
    display: none;
  }
  .show {
    display: block;
  }

  a {
    color: rgb(24, 204, 7);
  }